node_modules/
*.txt
.vscode/
package-lock.json

exponent.js
function.js
index.html
Latihan.js
main.js
main1.js
tempCodeRunnerFile.js
temperatur.js
test.html
tugas_kecil.js
variable_operator.js
error_type_in_js.txt